.App {
  float: unset; height:100%; width: 100%;
  text-align: center;
  margin: auto;
}

.morty-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: Pokemon Hollow;
  background-color: yellow;
  height: 100%;
}

.players {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 10px;
}

.player-one {
  display:flex;
  flex-direction: column;
}

.player-two {
  display:flex;
  flex-direction: column;
}

.player-one > h2 {
  color: rgb(35, 127, 247);
  text-shadow: 0.5px 0.5px black;
  text-decoration:underline;
}

.player-two > h2 {
  color: rgb(35, 127, 247);
  text-shadow: 0.5px 0.5px black;
  text-decoration: underline;
}

.selector {
  justify-content: center;
  text-align: center;
}

img {
  border: 2px solid black;
  border-radius: 20px;
}

.morty-detail {
  animation: forwards;
  border: 5px solid black;
  padding-top: 10px;
  background-color: rgb(218, 212, 212);
}

.mortydex1 {
  font-family: Pokemon Solid;
  margin: 0;
  padding: 10px;
  border: 5px solid black;
  border-radius: 20px;
  background-color: red;
  width: 400px;
}

.mortydex2 {
  font-family: Pokemon Solid;
  margin: 0;
  padding: 10px;
  border: 5px solid black;
  border-radius: 20px;
  background-color: red;
  width: 400px;
}
.header {
  color: rgb(35, 127, 247);
  text-shadow: 1px 1px black;
  margin: 0;
  padding: 25px;
  font-size: 60px;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes header {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}

.footer {
  background-color: yellow;
  color: rgb(35, 127, 247);
  text-shadow: 1px 1px black;
  margin: 0;
  padding: 25px;

}

button {
  background-color: rgb(68, 155, 255);
}

button:hover {
  cursor: pointer;
  background-color: rgb(90, 210, 253);
}

.morty-info {
  border: 2px solid black;
  background-color: rgb(255, 255, 255);
  width: 300px;
  margin-left: 44px;
  margin-bottom: 10px;
  padding-bottom: 10px;
}

.morty {
  width: 75px;
  height: 75px;
}